.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 17px 17px 48px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  width: 80%;
  height: auto;
  padding: 1rem;
  margin-bottom: 1em;
}

.card_text_active {
  color: black;
}

.card_text_inactive {
  color: #6d6d6d;
}
