.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.boostcamp_star {
  height: 6rem;
  width: 6rem;
  margin-right: 14px;
  font-weight: 700;
}

.heading h1 {
  font-size: 3rem;
  font-weight: 700;
}

.tagline {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

@media (max-width: 800px) {
  .tagline,
  .qr_sticker {
    display: none;
  }

  .heading {
    flex-direction: column;
  }
}
