.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.yogaCard {
  background: #ffffff;
  box-shadow: 17px 17px 48px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  width: 90%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-family: "Raleway", sans-serif;
  font-size: 2.1rem;
  padding: 10% 3% 10% 7%;
}

.basketballCard {
  background: #ffffff;
  box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 2.1rem;
  padding: 10% 7% 10% 3%;
}

.svgImage {
  width: 45%;
}

.svgImagePhone {
  display: none;
}

.textContainer {
  text-align: center;
  padding: 1rem;
}

.textHeading {
  color: #6d6d6d;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.textSubHeading {
  color: black;
  font-weight: 700;
  margin-top: 0rem;
}

.textParagraph {
  color: black;
  font-weight: 300;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    height: 100%;
  }

  .yogaCard {
    font-size: 5vw;
    height: auto;
    padding: 0;
  }

  .basketballCard {
    font-size: 5vw;
    height: auto;
    padding: 0;
  }

  .svgImage {
    display: none;
  }

  .svgImagePhone {
    display: unset;
    height: auto;
  }

  .svgImagePhone > * {
    width: 100%;
    padding: 3rem;
  }
}
